body {
  background-color: darkgrey;
  display: block;
}

.robots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.head,
.left_arm,
.torso,
.right_arm,
.left_leg,
.right_leg {
  background-color: white;
}

.head {
  max-width: 200px;
  margin: 0 auto;
  height: 150px;
  border-radius: 200px 200px 0 0;
  margin-bottom: 10px;
  border: 6px solid #1f3969;
}

.eyes {
  position: relative;
  top: 55px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.left_eye {
  position: relative;
  left: 20px;
  width: 35px;
  height: 35px;
  border-radius: 30px;
  border: 8px solid #1f3969;
  background: #5092e6;
  transition: 300ms ease-in-out;
}

.right_eye {
  position: relative;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-radius: 30px;
  background: #0a41a7;
  transition: 200ms ease-in-out 0.5s;
}

.glow {
  float: right;
  height: 35px;
  width: 35px;
  opacity: 1;
  border-radius: 30px;
  border-right-color: #cee3ff;
  border-right-style: solid;
  transition: 300ms ease-in-out 0.3s;
}

/*.head:hover {
	width: 300px;
    transition: 1s ease-in-out;
}
*/

.upper_body {
  display: flex;
  justify-content: center;
}

.left_arm,
.right_arm {
  min-width: 40px;
  height: 125px;
  border-radius: 100px;
  border: 6px solid #1f3969;
  z-index: -1;
  transition: 200ms ease-in-out;
}

.left_arm {
  margin-right: 10px;
}

.right_arm {
  margin-left: 10px;
}

.torso {
  min-width: 200px;
  height: 200px;
  border: 6px solid #1f3969;
  border-radius: 0 0 50px 50px;
  cursor: pointer;
}

.lower_body {
  /* This is another useful property. Hmm what do you think it does?*/
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.left_leg,
.right_leg {
  width: 40px;
  height: 100px;
  margin-top: -10px;
  border-radius: 0 0 100px 100px;
  border: 6px solid #1f3969;
  border-top-color: white;
  z-index: -1;
  transition: 200ms ease-in-out;
}

.left_leg {
  margin-right: 30px;
}

.right_leg {
}

.eyes:hover .left_eye {
  transform: translateX(20px) translateY(-15px) scale(1.1);
}

.eyes:hover .glow {
  transform: rotate(360deg);
}

.eyes:hover .right_eye {
  transform: translateY(-15px);
  background: red;
}

.upper_body:active .right_arm {
  transform: translateX(-100px);
}

.upper_body:active .left_arm {
  transform: translateX(100px);
}

.robots:active .left_leg {
  transform: translateY(-150px);
}
.robots:active .right_leg {
  transform: translateY(-150px);
}
